{% extends "base.html" %}
{% block title %}
    分類列表
{% endblock %}
{% block content %}
    <div class="w-full h-full flex flex-col items-center py-6 px-4 sm:px-6 bg-gray-100">
        <div class="w-full flex justify-between items-center my-4 border-b pb-5 gap-2 border-gray-400">
            <h3 class="text-2xl leading-6 font-medium text-gray-900">分類列表</h3>
            <div class="h-full flex justify-center items-center">
                <a href="{{ url_for('main.add_transaction_category') }}"
                   class="sm:ml-4 px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    新增帳目分類
                </a>
                <a href="{{ url_for('main.add_item_category') }}"
                   class="sm:ml-4 px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    新增物品分類
                </a>
            </div>
        </div>
        <div class="bg-white shadow-xl border-t overflow-hidden rounded-md w-full py-6">
            <ul role="list" class="divide-y divide-gray-200">
                {% for category in current_user.transaction_categories %}
                    <li>
                        <div class="block hover:bg-gray-50">
                            <div class="px-4 py-4 sm:px-6">
                                <a href="{{ url_for('main.show_transaction_category', category_id=category.id) }}"
                                        class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <p class="px-2 py-1 mr-2 text-md leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                            帳目類別
                                        </p>
                                        <p class="text-md font-medium text-indigo-600 truncate">{{ category.emoji or "" }} {{ category.title }}</p>
                                    </div>
                                    <div class="bg-red-500 hover:bg-red-600 cursor-pointer w-fit flex items-center rounded-md px-2 py-1 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="w-5 h-5 text-white"
                                             viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd"
                                                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                        <span class="ml-1">刪除</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {% for category in current_user.item_categories %}
                    <li>
                        <div class="block hover:bg-gray-50">
                            <div class="px-4 py-4 sm:px-6">
                                <a href="{{ url_for('main.show_item_category', category_id=category.id) }}"
                                   class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <p class="px-2 py-1 mr-2 text-md leading-5 font-semibold rounded-full bg-blue-100 text-blue-800">
                                            物品類別
                                        </p>
                                        <p class="text-md font-medium text-indigo-600 truncate">{{ category.emoji or "" }} {{ category.title }}</p>
                                    </div>
                                    <div class="bg-red-500 hover:bg-red-600 cursor-pointer w-fit flex items-center rounded-md px-2 py-1 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="w-5 h-5 text-white"
                                             viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd"
                                                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                        <span class="ml-1">刪除</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}