{% extends "base.html" %}
{% block title %}新增帳目{% endblock %}
{% block content %}
    <div class="w-full min-h-full flex flex-col items-center py-6 px-4 bg-gray-100">
        <div class="w-full flex justify-between items-center my-4 border-b pb-5 gap-2 border-gray-400">
            <h3 class="text-2xl leading-6 font-medium text-gray-900">新增帳目</h3>
            <span class="font-bold p-2 bg-gray-400 rounded text-gray-100">💼 {{ book.name }} </span>
        </div>
        <form class="space-y-8 divide-y divide-gray-200 h-full px-16 flex justify-center items-center w-full"
              action="{{ url_for('main.add_transaction_post', book_id=book.id) }}"
              method="post"
              id="transaction_form">
            <div class="space-y-8 divide-y divide-gray-200 flex flex-col w-full">
                <div>
                    <div>
                        <h3 class="text-xl leading-6 font-medium text-gray-900">帳目設定</h3>
                        <p class="mt-1 text-sm text-gray-500">帳目的基礎資料</p>
                    </div>

                    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                        <div class="sm:col-span-4">
                            <label for="name" class="block text-sm font-medium text-gray-700"> 帳目名稱 </label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <input type="text" name="name" id="name"
                                       class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300">
                            </div>
                        </div>
                        <div class="sm:col-span-4">
                            <label for="location" class="block text-sm font-medium text-gray-700"> 消費地點 </label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <input type="text" name="location" id="location"
                                       class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300">
                            </div>
                        </div>
                        <!--<div class="sm:col-span-4">
                            <label for="price" class="block text-sm font-medium text-gray-700"> 消費金額 </label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <input type="number" name="price" id="price"
                                       class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300">
                            </div>
                        </div>-->

                        <div class="sm:col-span-4">
                            <div class="flex items-center gap-2">
                                <p class="block text-sm font-medium text-gray-700"> 支出明細 </p>
                                <p class="block text-sm font-medium text-gray-700 cursor-pointer" id="add_item"> ➕ </p>
                            </div>
                            <div class="mt-1 flex flex-col rounded-md shadow-sm" id="items-part"></div>
                        </div>

                        <div class="sm:col-span-4">
                            <span class="block text-sm font-medium text-gray-700"> 交易類別 </span>
                            <p class="text-sm text-gray-500">選擇這筆交易的類別</p>
                            <div class="mt-1">
                                {% for transaction_category in current_user.transaction_categories %}
                                    <div class="relative flex items-center">
                                        <div class="flex items-center h-5">
                                            <input name="categories"
                                                   class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                                                   type="checkbox"
                                                   value="{{ transaction_category.id }}"
                                                   id="c{{ transaction_category.id }}">
                                        </div>
                                        <div class="ml-2 text-md">
                                            <label class="font-medium text-gray-700"
                                                   for="c{{ transaction_category.id }}">{{ transaction_category.emoji or '' }} {{ transaction_category.title }}</label>
                                            <!--<p id="candidates-description" class="text-gray-500">Get notified when a
                                                 candidate applies for a job.</p>-->
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                         <div class="sm:col-span-4">
                            <div class="flex items-center gap-2">
                                <p class="block text-sm font-medium text-gray-700"> 欄位 </p>
                                <p class="block text-sm font-medium text-gray-700 cursor-pointer" id="add_field"> ➕ </p>
                            </div>
                            <div class="mt-1 flex flex-col rounded-md shadow-sm" id="fields-part"></div>
                        </div>
                        <input type="hidden" name="items" id="items"/>
                        <input type="hidden" name="fields" id="fields"/>
                    </div>
                </div>
                <div class="pt-5">
                    <div class="flex justify-end">
                        <button type="submit"
                                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            新增
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        let current_items_cnt = 0
        let removed_item = []
        let fields = new Set()
        $("#add_item").on("click", () => {
            current_items_cnt++
            /* Item: name price */
            $('#items-part').append(`
                <div class="bg-gray-200 shadow-lg my-2 px-4 py-2 pb-4 flex flex-col" id="item_${current_items_cnt}">
                    <div class="mt-1 flex justify-end items-center rounded-md shadow-sm">
                        <span class="text-sm mr-2">(ID: ${current_items_cnt})</span>
                        <button class="cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                                onclick="removeItem(${current_items_cnt})">
                            刪除
                        </button>
                    </div>
                    <label for="item_${current_items_cnt}_name" class="block text-sm font-medium text-gray-700"> 細項名稱 </label>
                    <div class="mt-1 flex rounded-md shadow-sm">
                        <input type="text" name="" id="item_${current_items_cnt}_name" class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300"/>
                    </div>
                    <label for="item_${current_items_cnt}_price" class="mt-2 block text-sm font-medium text-gray-700"> 細項金額 </label>
                    <div class="mt-1 flex rounded-md shadow-sm">
                        <input type="number" name="" id="item_${current_items_cnt}_price" class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300"/>
                    </div>
                    <div class="mt-1 block text-sm font-medium text-gray-700"> 交易類別 </div>
                    <p class="text-sm text-gray-500">選擇這個品項的類別</p>
                    <div class="mt-1">
                    {% for item_category in current_user.item_categories %}
                        <div class="relative flex items-center">
                            <div class="flex items-center h-5">
                                <input name="ic_${current_items_cnt}_categories"
                                       class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                                       type="checkbox"
                                       value="{{ item_category.id }}"
                                       id="ic_${current_items_cnt}_{{ item_category.id }}">
                            </div>
                            <div class="ml-2 text-md">
                                <label class="font-medium text-gray-700"
                                       for="ic_${current_items_cnt}_{{ item_category.id }}">{{ item_category.emoji or '' }} {{ item_category.title }}</label>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            `)
        })

        const makeField = (event, _fieldName="欄位", _fieldType="text", _fieldEmoji="", _fieldValue="") => {
            const fieldID = self.crypto.randomUUID()
            fields.add(fieldID)
            $('#fields-part').append(`
                <div class="bg-gray-200 shadow-lg my-2 px-4 py-2 pb-4 flex flex-col" id="field_${fieldID}">
                    <div class="mt-1 flex justify-end items-center rounded-md shadow-sm gap-2">
                        <span class="text-sm mr-2">(ID: ${fieldID})</span>
                        <button class="cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
                                onclick="duplicateField('${fieldID}')" type="button">
                            複製
                        </button>
                        <button class="cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                                onclick="removeField('${fieldID}')" type="button">
                            刪除
                        </button>
                    </div>
                    <label for="field_${fieldID}_emoji" class="mt-2 block text-sm font-medium text-gray-700"> 欄位Emoji </label>
                    <div class="flex rounded-md shadow-sm items-center">
                        <input type="text" id="field_${fieldID}_emoji" value="${_fieldEmoji}" class="border-0 w-12 h-8 rounded mr-2 bg-gray-100" readonly/>
                            <button type="button" id="field_${fieldID}_emoji_button"
                                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                選擇Emoji
                            </button>
                    </div>
                    <label for="field_${fieldID}_name" class="mt-2 block text-sm font-medium text-gray-700"> 欄位名稱 </label>
                    <div class="flex rounded-md shadow-sm">
                        <input type="text" value="${_fieldName}" id="field_${fieldID}_name" onkeyup="editField('${fieldID}')" class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-l-md sm:text-sm border-gray-300"/>
                    </div>
                    <label for="field_${fieldID}_type" class="mt-2 block text-sm font-medium text-gray-700"> 欄位類別 </label>
                    <div class="mt-1 flex rounded-md shadow-sm border-b pb-4">
                        <select id="field_${fieldID}_type" onchange="editField('${fieldID}')" class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300">
                            <option value="text" ${_fieldType==='text'?'selected':''}>文字</option>
                            <option value="number" ${_fieldType==='number'?'selected':''}>數字</option>
                            <option value="date" ${_fieldType==='date'?'selected':''}>日期</option>
                            <option value="datetime" ${_fieldType==='datetime'?'selected':''}>日期時間</option>
                        </select>
                    </div>
                    <label for="field_${fieldID}_value" class="mt-2 block text-lg font-medium text-indigo-500"> 欄位 </label>
                    <div class="mt-1 flex rounded-md shadow-sm">
                        <input type="text" id="field_${fieldID}_value" value="${_fieldValue}" class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300"/>
                    </div>
                </div>
            `)

            let popup = picmoPopup.createPopup({}, {
                referenceElement: document.querySelector(`#field_${fieldID}_emoji_button`),
                triggerElement: document.querySelector(`#field_${fieldID}_emoji_button`)
            })
            document.querySelector(`#field_${fieldID}_emoji_button`).addEventListener("click", () => {
                popup.toggle()
            })
            popup.addEventListener('emoji:select', selection => {
                document.querySelector(`#field_${fieldID}_emoji`).value = selection.emoji
                editField(fieldID)
            });
        }

        $("#add_field").on("click", makeField)

        function removeItem(index) {
            removed_item.push(index)
            $("#item_" + index).remove()
        }

        function removeField(fieldID) {
            fields.delete(fieldID)
            $("#field_" + fieldID).remove()
        }

        function editField(fieldID) {
            $(`label[for="field_${fieldID}_value"]`).text(` ${$(`#field_${fieldID}_emoji`).val()} ${$(`#field_${fieldID}_name`).val()} `)
            $(`#field_${fieldID}_value`).attr('type',`${$(`#field_${fieldID}_type`).val()}`)
        }

        function duplicateField(fieldID) {
            makeField(null, ...[$(`#field_${fieldID}_name`).val(), $(`#field_${fieldID}_type`).val(), $(`#field_${fieldID}_emoji`).val(), $(`#field_${fieldID}_value`).val()])
        }

        $("#transaction_form").submit(() => {
            let arr = [],arr2 = []
            for (let i = 1; i <= current_items_cnt; i++) {
                if(removed_item.includes(i)) continue;
                const name = $(`#item_${i}_name`).val(),
                    price = $(`#item_${i}_price`).val(),
                    categories = $(`input[name="ic_${i}_categories"]:checked`).get().map(c=>(c.value));

                arr.push({
                    name,
                    price,
                    categories
                })
            }

            fields.forEach(fieldID=>{
                arr2.push([fieldID, $(`#field_${fieldID}_name`).val(), $(`#field_${fieldID}_type`).val(), $(`#field_${fieldID}_emoji`).val(), $(`#field_${fieldID}_value`).val()])
            })

            $("#items").val(JSON.stringify(arr))
            $("#fields").val(JSON.stringify(arr2))
            return true;
        })
    </script>
{% endblock %}