<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>登入 | 記帳軟體</title>
</head>
<body class="flex flex-col min-w-screen min-h-screen">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="bg-red-500 px-4 py-2">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}
<div class="flex flex-row h-12 items-center justify-end px-4 gap-2 bg-pink-100">
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.profile') }}" class="underline text-md">
            個人資料
        </a>
        <a href="{{ url_for('auth.logout') }}" class="underline text-md">登出</a>
    {% else %}

    <a href="{{ url_for('auth.login') }}" class="underline text-md">登入</a>
    <a href="{{ url_for('auth.signup') }}" class="underline text-md">註冊</a>
    {% endif %}
</div>
<div class="flex flex-col items-center justify-center">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>